body {
    margin: 0;
  }
  
  /* Style the header */
  .header {
    background-color:rgb(31, 115, 224);;
    padding: 20px;
    text-align: center;
  }
  </style>
  </head>
  <body>
  
  <div class="header">
    <h1>Header</h1>
  </div>